<!--  Product Form -->
<form name="productForm" ng-controller="ProductController as productCtrl" ng-submit="productCtrl.addProduct(shop)">

  <h4>Submit a Product</h4>
  <div class="form-content">
    <product-form-name-price></product-form-name-price>
    <category-checkboxes></category-checkboxes>
    <fieldset class="form-group">
      <textarea ng-model="productCtrl.product.description" class="form-control" placeholder="Write something of product..." title="Description"></textarea>
    </fieldset>
    <product-form-images></product-form-images>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Submit Product" />
    </fieldset>
  </div>
</form>